.prompt
  .prompt__desc
    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src=require("@img/prompt/bg.jpg").default, alt="background").prompt__img.b-lazy
    // .prompt__img.b-lazy 
    .prompt__desc-content
      h3.h3.text--white.prompt__title
        | Оперативный расчет стоимости
      // .h3.text--white.prompt__title 
      ul.list.list--full.list--mb_15.prompt__list
        li
          span.h5.text--white в виде файлов AutoCad, КОМПАС и других,
        li
          span.h5.text--white в виде чертежа,
        li
          span.h5.text--white в виде рисунка,
        li
          span.h5.text--white в виде образца,
        li
          span.h5.text--white в виде письменного технического задания,
        li
          span.h5.text--white в виде устного технического задания.
      // .list.list--full.list--mb_15 
    // .prompt__desc-content 
  // .prompt__desc 
  .prompt__form-wrapper
    form.prompt-form
      label.input-icon.error.prompt-form__label
        svg(width="20", height="20").input-icon__icon
          use(href="#user")
        // .input-icon__icon 
        input(type="text", placeholder="Ваше имя").input.input-icon__input
        span.text.text--red.error__text *Неправильное имя
      // .input-icon 
      label.input-icon.prompt-form__label
        svg(width="20", height="20").input-icon__icon
          use(href="#phone")
        // .input-icon__icon 
        input(type="text", placeholder="Ваш телефон").input.input-icon__input
        span.text.text--red.error__text *Неправильное имя
      // .input-icon 
      textarea(name="message", placeholder="Cообщение").input.prompt-form__textarea
      .prompt-form__row
        label.input-file.prompt-form__input-file
          input(type="file").input-file__input
          .text.input-file__text Прикрепить файлы
          svg(width="20", height="20").input-file__icon
            use(href="#download")
          // .input-file__icon 
        // .input-file.prompt-form__input-file 
        a(href="").btn-message.prompt-form__btn-message
          svg(width="20", height="20").btn-message__icon
            use(href="#chat")
          // .btn-message__icon 
        // .btn-message.prompt-form__btn-message 
      // .prompt-form__row 
      button(type="submit").btn.btn--big Отправить
    // .prompt-form 
    .prompt-inf
      .text.text--dark_grey Вы можете добавить к заявке файл проекта и мы его бесплатно просчитаем.
      h5.h5.prompt-inf__title Допустимые форматы:
      .prompt-inf__icons
        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src=require("@img/formats/0.jpg").default, alt="format", width="40", height="40").b-lazy
        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src=require("@img/formats/1.jpg").default, alt="format", width="40", height="40").b-lazy
        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src=require("@img/formats/2.jpg").default, alt="format", width="40", height="40").b-lazy
        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src=require("@img/formats/3.jpg").default, alt="format", width="40", height="40").b-lazy
      // .prompt-inf__icons 
    // .prompt-inf 
  // .prompt__form-wrapper 
// .prompt 